body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

html, body {
    scroll-behavior: smooth;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    padding-inline: 8px;
    font-weight: 500;
}

form input, form select {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}